<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976286338695-d17gq611im6ea9ahgqk1190is54pmku2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976286338695-d17gq611im6ea9ahgqk1190is54pmku2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976286338695-npnvs368jc8r17o2tebvp6ukkispuslh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-JLP2G5pzusJejyLWYYZSgYFZ0UqxuKs</string>
	<key>GCM_SENDER_ID</key>
	<string>976286338695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serveon.app</string>
	<key>PROJECT_ID</key>
	<string>serveon-305007</string>
	<key>STORAGE_BUCKET</key>
	<string>serveon-305007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976286338695:ios:e96f8ff0049f12b1cab222</string>
</dict>
</plist>